@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-accent-100: var(--accent-100);
  --color-accent-200: var(--accent-200);
  --color-accent-300: var(--accent-300);
  --color-accent-400: var(--accent-400);
  --color-accent-500: var(--accent-500);
  --color-modal: var(--modal);
  --default-font-family: "Inter";
  --font-display: "Playfair";
  --text-display: 36px;
  --text-display--line-height: 43px;
  --text-lg: 18px;
  --text-lg--line-height: 22px;
  --text-md: 16px;
  --text-md--line-height: 19.5px;
  --text-sm: 14px;
  --text-sm--line-height: 17px;
  --text-xs: 12px;
  --text-xs--line-height: 14.5px;
}

:root {
  --primary-300: #c6c9cb;
  --primary-400: #aaaeb1;
  --primary-500: #8e9297;
  --primary-600: #72777d;
  --primary-700: #565c63;
  --primary-800: #394149;
  --primary-900: #1d262f;
  --accent-100: #f1f5f9;
  --accent-200: #e2e8f0;
  --accent-300: #cbd5e1;
  --accent-400: #94a3b8;
  --accent-500: #64748b;
  --modal: rgba(23, 23, 23, 0.3);
}

button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}

button:focus {
  outline: none;
}
